body {
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

img {
    height: 400px;
}

.myButton {
	background-color:#6c3f14;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #dda02e;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#b1720b;
}
.myButton:active {
	position:relative;
	top:1px;
}

p {
    font-size: 21px;
}