<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../style.css"/>
    <meta charset="UTF-8">
    <title>Jokes</title>
</head>
<body>
<img src="../img/chuck.jpg">
<h1> Chuck Norris Joke!!</h1>
<p th:text="${joke}"> Insert Joke Here!!!</p>
<a href="" class="myButton">Refresh</a>
</body>
</html>